{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <h1><a href="{% url 'queries:list' %}"><img src="{% static 'logo.JPG' %}"/></a></h1>
    <table class="query-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Data</th>
                <th>Creation Date</th>
                <th>Expiration Date</th>
                <th>Log</th>
                <th>Prediction</th>
            </tr>
        </thead>
        <tbody>
            <tr class="query">
                <td>{{query.id}}</td>
                <td>{{query.name}}</td>
                <td>{{query.status}}</td>
                <td class="query-data">{{query.data}}</td>
                <td>{{query.date}}</td>
                <td>{{query.expiration_date}}</td>
                <td class="query-log" style="white-space: pre-line; max-height: 200px; max-width: 200px; overflow-y: auto;">{{query.print_log}}</td>
                <td>{{query.prediction}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'queries:delete' slug=query.slug %}" onclick="alert('Query deleted - redirecting to query list')"><img src="{% static 'trash.JPG' %}" style="display:block; margin-left: auto; margin-right: auto;" width="3%" height="3%"/></a>
{% endblock %}