{% extends 'base_layout.html' %}
{% load static %}

{% block content %}<br><br><br>
<h1>Full Paper Deadline:</h1>
<h2>25 April 2022</h2>
<h1>Full Paper Submission Guidelines</h1>
<h2>1. Registration for authors and completion of publication fee payment are necessary before submitting full paper.<br>
    2. Other guidelines are same with the statements in the Abstract Submission Guidelines paragraph.</h2>
<h1>Full Paper Submission</h1>
<h2>Full papers will be prepared and submitted in accordance with the Instructions to Authors below.<br>
    Posters will be prepared;<br>
        a. in pdf format to be shown at the CASP 2022 website screen at certain periods which will be announced in advance,<br>
        b. in full paper format which will be evaluated by the science committee members, and will be included in the e-Proceedings.</h2><br><br><br><br><br>
<h1>Official CASP website:</h1><br>
<h2><a href="https://caspconferences.com/"><img src="{% static 'CASP.png' %}"/></a></h2>
{% endblock %}