{% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Queries</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
            <a href="{% url 'home' %}"><img id="home-img" src="{% static 'homepage.jpg' %}" width="70" height="70"/></a>
        </div>
    </body>
    </html>