{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CASP</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="home">
      <h1>CASP - Meshi Group</h1>
      <nav>
        <ul class="home-links">
          <li><a href="{% url 'about' %}">About CASP</a></li>
          <li><a href="{% url 'queries:list' %}">Query List</a></li>
          <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
        </ul>
      </nav>
    </header>
</body>
</html>